<h2>Welcome to the Happy Hummingbird Project Volunteer Hub</h2>
<br>
<h3>Already registered? </h3>
<form action='/login' method='GET'>
<input type='submit' value="Log-in">
</form>
<br>
<br>
<h3>New Volunteer?</h3>
<form action='/signup' method='GET'>
<input type='submit' value='Register'>
</form>