<h1>This is the volunteers/index homepage</h1>

<h3>Already registered? </h3>
<form action='/login' method='GET'>
<input type='submit' value="Log-in">
</form>

<h3>New Volunteer?</h3>
<form action='/signup' method='GET'>
<input type='submit' value='Register'>
</form>