<h2>Here are all the projects we are working on</h2>

<%@projects.each do |project|%>

<h4><%= project.name %></h4>
<br>
<%= project.date %>
<br>

<a href="projects/<%= project.id %>" class="myButton">More Info</a>
 
<br>
<%end %>

<a href='/projects/new'>Create a New Project</a>

  

