<h2>Here are all the projects we are working on</h2>

<%@projects.each do |project|%>

<%= project.name %>
<br>
<%= project.date %>
<br>
<form method='post' action="projects/<%= project.id %>">
 <input type='submit' value='More Info'>
 </form>
<br>
<%end %>

<a href='/projects/new'>Create a New Project</a>

  

