<h2>Here are all the projects we are working on</h2>

<%@projects.each do |project|%>
<div>
<h4><%= project.name %></h4>

<%= project.date %><br>


<a href="projects/<%= project.id %>" class="myButton">More Info</a>
</div> 
<br>
<%end %>

<a href='/projects/new'>Create a New Project</a>

  

