<h2>Here are all the projects we are working on</h2>

<%@projects.each do |project|%>

<%= project.name %>
<br>
<%= project.role %>
<br>
<form method='post' action="projects/<%= project.id %>">
 <input type='submit' value='Sign Up'>
 </form>
<br>
<%end %>

#Sign Up for Projects 
 - form 
 - submit 
 - get/post route 

  <form method='post' action="projects/#{current_user.id}">
 <input type='submit' value='Sign Up'>
 </form>

 <h2>Create a New Project</h2>
 <form method='post' action='project/new'>
 <>