<h2>Here are all the projects we are working on</h2>

<%@projects.each do |project|%>

<%= project.name %>
<br>
<%= project.role %>
<br>
<form method='post' action="projects/<%= project.id %>">
 <input type='submit' value='Sign Up'>
 </form>
<br>
<%end %>

#Sign Up for Projects 
 - form 
 - submit 
 - get/post route 

  

 <h2>Create a New Project</h2>
 <form action='projects/new' method='post'>
 <>
<label for='name'>Project Name: </label>
<input type='text' name='name' value= ''/>
<br>
<label for='role'>Volunteer Role: </label>
<input type='text' name='role' value= ''/>
<br>
<label for='number_of_hours'>Duration (in hours): </label>
<input type='text' name='number_of_hours' value= ''/>
<br>
<label for='assigned'>Assigned: </label>
<input type='text' name='assigned' value= ''/>
<br>
<input type='submit' value='Create'>
</form>
 <>