<h1>login erb page</h1>
<p><%= @volunteer.errors.full_messages.to_sentence %></p>
<form class="" action="/login" method="post">
  <label for='email'>Email: </label>
  <input type='text' name='email' value=<%=@volunteer.email%>>
  <br>
  <label for='password'>Password: </label>
  <input type='password' name='password' value=''/>
  <br>
  <input type='submit' id='submit' value='Login'/>
</form>