<h1>Volunteer Signup</h1>

<form class="" action="/volunteers" method="post">
<label for='firstname'>First Name: </label>
  <input type='text' name='firstname' value=''/>
  <br>
  <label for='lastname'>Last Name: </label>
  <input type='text' name='lastname' value=''/>
  <br>
  <label for='pronouns'>Pronouns: </label>
  <input type='text' name='pronouns' value=''/>
  <br>

   <p>Training Completed:</p>
  <input type='radio' id='yes' name='training' value='YES'/>
  <label for='yes'>YES</label>
  <br>
  <input type='radio' id='no' name='training' value='NO' checked>
  <label for='no'>NO</label>
  
  </p>

  <label for='email'>E-mail: </label>
  <input type='text' name='email' value=''/>
  <br>
  <label for='password'>Password: </label>
  <input type='password' name='password' value=''/>
  <br>
  <input type='submit' id='submit' value='Sign Up'/>
</form>
<br>
<a href='/'>Back</a>