<h1>signup erb page</h1>

<form class="" action="/signup" method="post">
<label for='firstname'>First Name: </label>
  <input type='text' name='firstname' value=''/>
  <br>
  <label for='lastname'>Last Name: </label>
  <input type='text' name='email' value=''/>
  <br>
  <label for='pronouns'>Pronouns: </label>
  <input type='text' name='pronouns' value=''/>
  <br>

 

  <label for='email'>Email: </label>
  <input type='text' name='email' value=''/>
  <br>
  <label for='password'>Password: </label>
  <input type='text' name='password' value=''/>
  <br>
  <input type='submit' id='submit' value='Login'/>
</form>